@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss"; 

@theme {
    --font-sans: "Public Sans", sans-serif;
}

@layer utilities {
    .menu-hidden {
        @apply translate-y-[-200%] opacity-0 pointer-events-none md:opacity-100 md:translate-y-[0] md:pointer-events-auto; 
    }
    .backdrop {
        @apply absolute top-0 left-0 w-full h-screen z-[4] bg-gradient-to-b from-black/80 to-white/0 md:hidden;
    }
}

body {
    font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 300; 
}